<!doctype html>
<html lang="ca">
  <head>
    <meta http-equiv="refresh" content="0;url=/ca/" />
    <link rel="canonical" href="/ca/" />
    <title>Mountain Runners</title>
  </head>
  <body><p><a href="/ca/">Continua a Mountain Runners</a></p></body>
</html>
